* {
    box-sizing: border-box;
}

html, 
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

section.container {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 500px;
}

.color,
.start {
    width: 100%;
    height: 100%;
    border: 3px solid white;
    box-shadow: #3d3d3d 0.25em 0.25em 0.5em;
}

.red {
    color: hsla(0, 100%, 50%, 0);
    background: hsla(0, 100%, 50%, 0.65);
}

.red-click, 
.red:active {
    border: 3px solid hsla(0, 100%, 50%, 0.25);
    background: hsla(0, 100%, 50%, 1);
}

.orange {
    color: hsla(30, 100%, 50%, 0);
    background: hsla(30, 100%, 50%, 0.65);
}

.orange-click,
.orange:active {
    border: 3px solid hsla(30, 100%, 50%, 0.25);
    background: hsla(30, 100%, 50%, 1);
}

.yellow {
    color: hsla(60, 100%, 50%, 0);
    background: hsla(60, 100%, 50%, 0.65);
}

.yellow-click,
.yellow:active {
    border: 3px solid hsla(60, 100%, 50%, 0.25);
    background: hsla(60, 100%, 50%, 1);
}

.green {
    color: hsla(120, 100%, 50%, 0);
    background: hsla(120, 100%, 50%, 0.65);
}

.green-click,
.green:active {
    border: 3px solid hsla(120, 100%, 50%, 0.25);
    background: hsla(120, 100%, 50%, 1);
}

.blue {
    color: hsla(240, 100%, 50%, 0);
    background: hsla(240, 100%, 50%, 0.65);
}

.blue-click,
.blue:active {
    border: 3px solid hsla(240, 100%, 50%, 0.25);
    background: hsla(240, 100%, 50%, 1);
}

.indigo {
    color: hsla(280, 100%, 50%, 0);
    background: hsla(280, 100%, 50%, 0.65);
}

.indigo-click,
.indigo:active {
    border: 3px solid hsla(280, 100%, 50%, 0.25);
    background: hsla(280, 100%, 50%, 1);
}

.violet {
    color: hsla(320, 100%, 50%, 0);
    background: hsla(320, 100%, 50%, 0.65);
}

.violet-click,
.violet:active {
    border: hsla(320, 100%, 50%, 0.25);
    background: hsla(320, 100%, 50%, 1);
}

.start:active,
.start:focus {
    border: 3px solid #d3d3d3;
}

